body
	padding: 0
	margin: 0
	text-align: center

h2
	font-family: Roboto
	font-size: 30px
	margin: 40px 0
	color: #5a5a5a
	border-bottom: 1px solid #5a5a5a
	display: inline-block

.content
	width: 100%
	max-width: 700px
	display: inline-block
	margin: 0 auto

	p
		font-size: 16px
		line-height: 20px
		letter-spacing: 2px
		margin: 0
		margin-bottom: 20px